:root {
  /* 背景色やテーマのベースカラーに使われるかもしれません。 */
  /* --entry: #fbf7ef; */
   /* 主にカラーパレットとして使用される可能性があります。 */
  /* --primary: rgba(113, 103, 91, 1.00);
  --secondary: rgba(113, 103, 91, 0.95);
  --tertiary: rgba(113, 103, 91, 0.50); */
  /*  */
  /* --content: rgba(113, 103, 91, 0.85); */
   /* コードのハイライトや背景色に使われる可能性があります。 */
  /* --hljs-bg: #34231B; */
  /* おそらく, トップページの背景色のみ */
  --code-bg: #f0f7ff;
   /* 枠線の色 */
  /* --border: #fdfaf5; */
   /* 全体的なテーマカラー */
  /* --theme: #f0f5ff; */
}
.dark {
}
