{{- define "main" }}

<header class="page-header">
  <h1>
    {{ .Title }}
    {{- if (.Param "ShowRssButtonInSectionTermList") }}
    {{- $rss := (.OutputFormats.Get "rss") }}
    {{- if (eq .Kind `page`) }}
    {{- $rss = (.Parent.OutputFormats.Get "rss") }}
    {{- end }}
    {{- with $rss }}
    <a href="{{ .RelPermalink }}" title="RSS" aria-label="RSS">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
        stroke-linecap="round" stroke-linejoin="round" height="23">
        <path d="M4 11a9 9 0 0 1 9 9" />
        <path d="M4 4a16 16 0 0 1 16 16" />
        <circle cx="5" cy="19" r="1" />
      </svg>
    </a>
    {{- end }}
    {{- end }}
  </h1>
  {{- if .Description }}
  <div class="post-description">
    {{ .Description }}
  </div>
  {{- end }}
</header>

<p>当ページのレイアウトファイル: </p>
<p>layouts/glossary/list.html</p>
<br>
<p>コンテンツファイルの内容: </p>
<br>
{{ .Content }}
<br>

<p>shortcode を .RenderString で出力: </p>
<p>
  {{ $shortcode := printf "{{< test-shortcode-1 >}}" }}
  {{ .RenderString $shortcode }}
</p>
<p>
{{ $url := "https://example.com" }}
{{ $text := "これはショートコード: href-target-blank" }}
{{ $shortcode := printf "{{< href-target-blank url=\"%s\" text=\"%s\" >}}" $url $text }}
{{ .RenderString $shortcode }}
</p>

<dl>
  {{ range .Pages }}
    <dt>{{ .Title }}</dt>
    <dd>{{ .Content }}</dd>
  {{ end }}
</dl>

{{- end }}{{- /* end main */ -}}
