{{- /* Head custom content area start */ -}}
{{- /*     Insert any custom code (web-analytics, resources, etc.) - it will appear in the <head></head> section of every page. */ -}}
{{- /*     Can be overwritten by partial with the same name in the global layouts. */ -}}
{{- /* Head custom content area end */ -}}

{{/*  This is contents of extend_head.html.  */}}
{{/* katsu */}}

{{/* style を適用する type の配列 */}}
{{
  $arrayType := slice "testglossary" "<other-type-string>"
}}

{{- $tp := "" -}}
{{- with .Page.Params.type -}}
  {{- $tp = . -}}
  {{- $found := false -}}
  {{- $allowed := $arrayType -}}
  {{- range $allowed -}}
    {{- if eq . $tp -}}
      {{- $found = true -}}
    {{- end -}}
  {{- end -}}
  {{- if $found -}}
    {{/* style (css) の定義 */}}
    <style>
      .list {
        background-color: var(--theme); 
      }
    </style> 
  {{- end -}}
{{- end -}}
