{{/* 
.RenderShortcodes: 
周囲のマークアップを保持しながら, 指定されたページのコンテンツ内のすべてのショートコードをレンダリングする.
*/}}
{{ with .Get 0 }}
  {{ with $.Page.GetPage . }}
    {{- .RenderShortcodes }}
    {{/*  {{- .RenderShortcodes | safeHTML }}  */}}
    {{/*  {{ .Content | $.Page.RenderString | .RenderShortcodes | safeHTML }}  */}}
    {{/*  {{ .Content | safeHTML }}  */}}
  {{ else }}
    {{ errorf "The %q shortcode was unable to find %q. See %s" $.Name . $.Position }}
  {{ end }}
{{ else }}
  {{ errorf "The %q shortcode requires a positional parameter indicating the logical path of the file to include. See %s" .Name .Position }}
{{ end }}
